@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,900;1,100;1,200;1,800;1,900&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
$pink: #ffa4c2;
$blackish: #3f3f3f;
$blue: #0900ff;
$bg: #1d1d1d;
$text: #fff;
$dottedSize: 5px;
ul {
  padding-inline-start: 0px;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 5px $pink;
  }

  30% {
    text-shadow: 0 0 10px $pink;
  }

  60% {
    text-shadow: 0 0 10px $pink, 0 0 20px $pink;
  }

  90% {
    text-shadow: 0 0 10px $pink, 0 0 20px $pink;
  }

  100% {
    text-shadow: 0 0 10px $pink;
  }
}
@keyframes waving {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    background-color: #0900ff;
  }

  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    background-color: #ffa4c2;
  }
}
body {
  font-size: 20px;
  background-color: #000000;
 // background-color: #2d3436;
  //background-image: linear-gradient(315deg, #252829 0%, #000000 88%);
  background-attachment: fixed;

  .body {
    height: 100%;
    position: relative;
    margin: auto auto 20px;
    max-width: 1300px;
   // font-family: "Montserrat", sans-serif;
    font-family: 'Redressed', cursive;

    .introduction {
      text-align: left;
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-weight: 100;
      .texts {
        padding-right: 20px;
        max-width: 500px;

        .h1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h1 {
            margin: 9vh 0 5vh;
            .hi {
              text-shadow: 0 0 5px $pink;
              font-family: "Rubik Puddles", cursive, Copperplate, Papyrus,
                fantasy;
              text-transform: capitalize;
              color: #ffa4c2;
              word-spacing: 5px;
              font-weight: 100;
              line-height: 1.3;
              animation-name: glow;
              animation-duration: 5s;
              animation-iteration-count: infinite;
              font-size: 4.2rem;
            }
            span {
              font-size: 1.25rem;
              font-weight: bold;
              .wave {
                font-size: 2rem;
              }
            }
          }
        }

        .text {
          padding-top: 2px;
          color: #fff;
          margin-bottom: 3vh;
          ul {
            list-style-type: square;
            li {
              padding: 8px 0;
              line-height: 1.5;
            }
          }
          .about {
            text-align: justify;

            line-height: 1.35;
          }
          .services {
            text-align: start;
          }
          .head {
            text-transform: uppercase;
            font-weight: 600;
            color: $pink;
            border-bottom: $dottedSize dotted $pink;
            width: max-content;
          }
          .skills {
            //padding: 30px 0 20px;

            ul {
            }
            .technical {
              padding-bottom: 16px;
              ul {
                list-style-image: radial-gradient($pink, $pink);
                li {
                  .header {
                    color: $pink;
                  }
                }
              }
            }
            .non-tech {
              ul {
                list-style-image: radial-gradient(#fff, #fff);
                li {
                  text-transform: capitalize;
                }
              }
            }
          }
        }

        ul.contact {
          display: flex;
          justify-content: start;
          list-style-type: none;
          li {
            margin-right: 10px;
            border-radius: 50%;
            width: 55px;
            height: 55px;

            position: relative;
            &::before {
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: #00000085;
              border-radius: 50%;
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
            }
            img {
              padding: 5px 10px;
              width: 25px;
              height: 25px;
            }

            &:hover {
              &::before {
                background-color: #00000000;
              }
              cursor: pointer;
              background-color: #00000085;
            }
          }
        }
      }

      .image {
        min-width: 200px;
        max-width: 300px;
        padding: 0px 2vw 0 20px;
        margin-top: 22vh;

        img {
          margin: auto;
          width: -moz-available;
          width: -webkit-fill-available;
        }
      }
    }

    section {
      padding: 3vh 6vw;
      text-align: center;
      color: $text;
      min-height: 50px;

      &.work {
        h3 {
          text-transform: capitalize;
        }

        .gallery {
          margin: auto;
          max-width: 1100px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 4vh;

          .card {
            position: relative;
            margin-bottom: 15px;
            border: $dottedSize dotted $text;
            height: 250px;
            overflow-y: hidden;
            width: 100%;
            max-width: 600px;
            margin: 0 auto 25px;
            display: flex;

            .img-box {
              width: 100%;

              img {
                max-width: -moz-available;
                max-width: -webkit-fill-available;
              }
            }

            .content {
              width: -webkit-fill-available;
              color: #fff;
              position: absolute;
              background: rgba(0, 0, 0, 0.199);
              height: -webkit-fill-available;

              .name,
              .text,
              .icons {
                display: none;
              }
            }

            &:hover {
              border: $dottedSize dotted $pink;

              .content {
                background: rgba(0, 0, 0, 0.747);
                padding: 30px 40px 20px;
                display: grid;
                align-content: end;

                .name,
                .text,
                .icons {
                  padding-top: 15px;
                  display: block;
                }

                .name {
                  text-transform: uppercase;
                  font-weight: bold;
                  letter-spacing: 1.2px;
                  color: $pink;
                }

                .icons {
                  display: flex;
                  justify-content: flex-end;

                  .live,
                  .github {
                    //                    padding: 10px;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 7px;
                    img {
                      width: 20px;
                    }

                    &:hover {
                      background-color: rgba(255, 255, 255, 0.192);
                      border-radius: 50%;
                    }
                  }
                }
              }
            }
          }
        }

        .cv {
          margin-top: 3vh;

          a {
            color: $text !important;
            text-decoration: none;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px;

            &:hover {
              border: $dottedSize dotted $pink;
            }
          }
        }
      }
    }
  }

  .img-box img:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  body {
    .body {
      .introduction {
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        .texts {
          padding-right: 0;
          .h1 {
            text-align: center;
            h1 {
              width: -webkit-fill-available;
              .hi {
                font-size: 4rem;
              }

              span {
                font-size: 1.5rem;
                .wave {
                  font-size: 1.9rem;
                }
              }
            }
          }
          .text {
            /* .about {
              text-align: unset;
            }
            .skills {
              .head {
                margin: auto;
              }
              .technical {
                .header {
                  display: block;
                }
                ul {
                  display: flex;
                  list-style-type: none;
                  list-style-image: none;

                  li {
                    line-height: 2;
                    padding: 10px;
                  
                  }
                }
              }
              .non-tech {
                ul {
                  li {
                    margin: auto;
                    width: max-content;
                  }
                }
              }
            }*/
          }
          ul.contact {
            width: -webkit-fill-available;
            display: flex;
            justify-content: space-evenly;
          }
        }

        .image {
          display: none !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    .body {
      .introduction {
        .texts {
          ul.contact {
            li {
              margin-right: 10px;
              border-radius: 50%;
              width: 45px;
              height: 45px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                padding: 5px 10px;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      .card {
        height: 200px !important;

        .img-box {
          width: 100%;

          img {
            max-width: -webkit-fill-available;
          }
        }

        .content {
          .name,
          .text,
          .icons {
            padding-top: 5px !important;
          }
        }

        &:hover {
          .img-box {
            display: none;
          }

          .content {
            padding: 10px !important;

            .name {
              font-size: 14px;
            }

            .text {
              font-size: 14px;
            }

            .icons {
              .live,
              .github {
                width: 32px !important;
                height: 32px !important;
                img {
                  width: 14px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 510px) {
  body {
    .body {
      .introduction .texts {
        .h1 {
          h1 {
            span {
              font-size: 1.1rem;
            }
          }
        }
        .text {
          .about {
            text-align: justify;
          }
          .skills {
            .head {
              margin: unset;
            }
            .technical {
              .header {
                display: unset;
              }
              ul {
                display: block;
                text-align: start;

                li {
                  list-style-type: circle;
                  list-style-image: radial-gradient($pink, $pink);
                }
              }
            }
            .non-tech {
              ul {
                li {
                  margin: unset;
                }
              }
            }
          }
        }
      }
      .card {
        height: 200px !important;

        .img-box {
          width: 100%;

          .img1 {
            content: url("../images/buybuy-ss.png");
          }
          .img2 {
            content: url("../images/rest-api-ss.png");
          }
          .img3 {
            content: url("../images/rpsls-ss.png");
          }
          .img4 {
            content: url("../images/interactive-cs-ss.png");
          }
          .img5 {
            content: url("../images/ip-addy-ss.png");
          }
          .img6 {
            content: url("../images/portfolio-ss.png");
          }
        }
      }
    }
  }
}
