.circle {
  display: inline-block;
  //background: whiteSmoke;
  //box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}
.bounce {
  backface-visibility: visible !important;
  animation: bounce 4s ease infinite;
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}
@keyframes bounce{
    0% {
        opacity: 0;
        transform: scale(0.3);
      }
      15% {
        opacity: 1;
        transform: scale(1.05);
      }
      30% {
        transform: scale(0.9);
      }
      45% {
        transform: scale(1);
      }
      60% {
        transform: scale(0.95);
      }
      80% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 0;
        transform: scale(0.3);
      }
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
