.circle {
  display: grid;
  //background: whiteSmoke;
  //box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;

  img {
    width: 50px;
    height: 50px;
    border-radius: 0;

    &:hover{

        animation:pulse 4s ease infinite;
    }
  }
}
.bounce {
  backface-visibility: visible !important;
  //animation: bounce 4s ease infinite;
}

@keyframes pulse {
    from { transform: scale(0.8); }
    to { transform: scale(1.2); }
  }
  
@keyframes swing {
	20% { transform: rotate(15deg); }	
	40% { transform: rotate(-10deg); }
	60% { transform: rotate(5deg); }	
	80% { transform: rotate(-5deg); }	
	100% { transform: rotate(0deg); }
}
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}
@keyframes bounce{
    0% {
        opacity: 0;
        transform: scale(0.3);
      }
      15% {
        opacity: 1;
        transform: scale(1.05);
      }
      30% {
        transform: scale(0.9);
      }
      45% {
        transform: scale(1);
      }
      60% {
        transform: scale(0.95);
      }
      80% {
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 0;
        transform: scale(0.3);
      }
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
